/*Подключим шрифты*/
@font-face
{
    font-family: Roboto Black;

    src: url('../fonts/Roboto-Black.ttf');
}
@font-face
{
    font-family: Roboto Black Italic;

    src: url('../fonts/Roboto-BlackItalic.ttf');
}
@font-face
{
    font-family: Roboto Bold;

    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face
{
    font-family: Roboto Bold Italic;

    src: url('../fonts/Roboto-BoldItalic.ttf');
}
@font-face
{
    font-family: Roboto Italic;

    src: url('../fonts/Roboto-Italic.ttf');
}
@font-face
{
    font-family: Roboto Light;

    src: url('../fonts/Roboto-Light.ttf');
}
@font-face
{
    font-family: Roboto Light Italic;

    src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face
{
    font-family: Roboto Medium;

    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face
{
    font-family: Roboto Medium Italic;

    src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face
{
    font-family: Roboto Regular;

    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face
{
    font-family: Roboto Thin;

    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face
{
    font-family: Roboto Thin Italic;

    src: url('../fonts/Roboto-ThinItalic.ttf');
}
body
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;

    color: #fff;
    background-color: #849d8f;
}
h1
{
    font-family: 'Roboto Black', 'Arial', sans-serif;
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 30px;
}
h2
{
    font-size: 24px;
}
/*Файл index.psd*/
.wrap
{
    min-width: 900px;

    -webkit-transition: background-image .5s ease, background-color .5s ease;
            transition: background-image .5s ease, background-color .5s ease;
}
/*Хедер*/
.main-header
{
    margin-bottom: 22px;
    padding-top: 5px;
}

.header-container
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo
{
    margin-top: 5px;
    margin-left: 22px;
}
.main-navigation
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-weight: bold;

    margin-right: auto;
    margin-left: 0;
}
.main-navigation > ul
{
    margin: 0;
    padding-left: 17px;
}
/*Расположим главное меню в строку*/
.main-navigation li
{
    font-size: 0;

    position: relative;

    display: inline-block;

    padding: 0 12px;

    vertical-align: center;

    border-radius: 100px;
}

.main-navigation a
{
    font-size: 16px;
    line-height: 32px;

    margin: 0;
    padding: 0;

    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(230,230,235,.4);
}
/* Меню при наведении*/
.main-navigation li:hover
{
    background: #fff;
}
.main-navigation li:active
{
    background: #fff;
    box-shadow: inset 0 1px 2px #696969;
}
li:hover a
{
    color: #000;
    border-bottom: none;
}
li:hover .wrap-submenu
{
    display: block;
}
/*Подменю*/
.wrap-submenu
{
    position: absolute;
    z-index: 1;
    left: -8px;

    display: none;

    width: 143px;
    height: 160px;
    padding-top: 10px;
}
.submenu
{
    position: absolute;
    top: 6px;

    width: 143px;
    height: 170px;
    margin: 0;
    padding: 0;

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}
.submenu a
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;

    display: block;

    margin: 0;
    margin-bottom: 1px;
    padding: 7px 20px;

    color: #000;
}
.submenu li
{
    display: block;

    margin: 0;
    padding: 0;

    border-radius: 0;
}
.submenu li:first-child::after
{
    display: block;

    margin: 0 5px 3px 5px;

    content: '';

    border-bottom: 1px solid #d1d0ce;
}
.submenu .novelty
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;

    margin-top: 2px;
    padding-top: 9px;
    padding-bottom: 10px;
}
.submenu li:hover
{
    background-color: #fbded7;
}
.submenu li:active
{
    background-color: #f6b5a5;
    box-shadow: none;
}
.submenu .on-page:hover
{
    background-color: #d07058;
}
.submenu .on-page:active
{
    background-color: #d07058;
}
.on-page
{
    background-color: #d07058;
}
.on-page a
{
    color: #fff;
    border: none;
}
li:hover .creamy
{
    color: #fff;
}
.catalog-item,
.find-list
{
    position: relative;

    margin-left: auto;
}
.user-block
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: 2.2%;
}
.btn-header
{
    font-family: 'Roboto Medium', 'Arial', sans-serif;

    display: block;

    box-sizing: border-box;
    margin-left: 10px;

    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background-color: rgba(255,255,255,.2);
}
/* Кнопка поиска*/
.btn-search
{
    width: 32px;
    height: 32px;

    background: rgba(255,255,255,.2) url('../img/sprite.png') no-repeat -3px -767px;
}
.btn-search:hover
{
    background-color: rgba(255,255,255,1);
    background-position: -3px -804px;
}
.btn-search:active
{
    box-shadow: inset 0 1px 2px #696969;
}
.find-list:hover .find-wrap
{
    position: absolute;
    z-index: 1;

    display: block;
}
/*Подменю формы поиска*/
.find-wrap
{
    position: absolute;
    top: 25px;
    right: 0;

    display: none;

    width: 311px;
    height: 50px;
    padding-top: 10px;
}
.find-form
{
    position: absolute;
    top: 10px;
    left: -29px;

    width: 311px;
    height: 44px;
    padding: 20px 15px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}
.find-form .find
{
    width: 100%;
    margin-bottom: 20px;
}
/* Кнопка входа*/
.btn-entrance
{
    font-size: 14px;
    line-height: 32px;

    width: 93px;
    padding-left: 43px;

    background: rgba(255,255,255,.2) url('../img/sprite.png') no-repeat 6px -181px;
}
.btn-entrance:hover
{
    color: #000;
    background-color: rgba(255,255,255,1);
    background-position: 6px -219px;
}
.btn-entrance:active
{
    box-shadow: inset 0 1px 2px #696969;
}
/*Подменю логина*/
.login-list-wrap
{
    position: absolute;
    top: 30px;
    left: -135px;

    display: none;

    width: 237px;
    height: 160px;
    padding-top: 10px;
}
.login-list:hover  .login-list-wrap
{
    display: block;
}
.login-form
{
    position: absolute;
    z-index: 1;
    top: 6px;
    left: -37px;

    clear: both;

    padding: 20px 17px 22px 20px;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}
.mail
{
    width: 241px;
    margin-bottom: 20px;
}
.password
{
    width: 241px;
    margin-bottom: 20px;
}
.placeholder
{
    position: relative;
}
.placeholder label
{
    font-size: 16px;

    position: absolute;
    top: 11px;
    left: 14px;

    -webkit-transition: .2s ease all;
            transition: .2s ease all;
    pointer-events: none;

    color: #999;
}
.user-block label,
.find-list label
{
    font-size: 14px;
}
input:focus + label,
.commit:focus + label
{
    font-size: 11px;

    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);

    color: #5b9ddf;
}
.commit + label
{
    top: 10px;
    left: 14px;
}
.placeholder .lostfocus
{
    font-size: 11px;

    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
}
.btn-enter
{
    font-size: 18px;
    line-height: 24px;

    float: left;

    padding: 10px 25px;

    border: none;
    border-radius: 44px;
}
.links
{
    font-size: 13px;

    float: right;

    width: 50%;
}
.links a
{
    color: #323232;
}
.links a:hover
{
    color: #e84d37;
    border-color: #e84d37;
}
.links a:active
{
    color: #e84d37;
    border-color: #e84d37;
}
.login-form
{
    clear: both;
}
/* Кнопка карзины*/
.btn-basket
{
    font-size: 14px;
    line-height: 32px;

    width: 117px;
    padding-left: 43px;

    background: rgba(255,255,255,.2) url('../img/sprite.png') no-repeat 6px -4px;
}
.btn-basket:hover
{
    color: #000;
    background: #fff url('../img/sprite.png') no-repeat 6px -44px;
}
.catalog-item .btn-basket
{
    color: #000;
    background: #fff url('../img/sprite.png') no-repeat 6px -44px;
}
.btn-basket:active
{
    box-shadow: inset 0 1px 2px #696969;
}
.basket-full
{
    background: url('../img/sprite.png') no-repeat 6px -4px,
    url('../img/sprite.png') no-repeat 10px -80px,
    rgba(255,255,255,.2);
}
.basket-full:hover
{
    color: #000;
    background: url('../img/sprite.png') no-repeat 6px -44px,
    url('../img/sprite.png') no-repeat 10px -80px,
    rgba(255,255,255,1);
}
.timetable
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;

    position: absolute;
    top: 54px;
    right: 2.2%;

    float: right;

    width: 200px;

    text-align: right;
}
.timetable span
{
    font-family: 'Roboto Black', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 34px;
}
/*Основной контент*/
.main-container
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
/*слайдер*/
.slider
{
    width: 700px;
    margin: 0 auto;
    padding-top: 235px;
    padding-bottom: 30px;
}
.slider-slides
{
    font-size: 0;

    display: inline-block;

    width: 300%;

    vertical-align: top;
}
.slide
{
    display: none;

    width: 700px;
    margin-bottom: 10px;

    text-align: center;
}
.slider-inner
{
    overflow: hidden;
}
input[type='radio']
{
    display: none;
}
.slider-controls
{
    font-size: 0;

    position: relative;
    top: 467px;
    left: -4px;

    margin-right: auto;
    margin-left: 2.2%;
}
.slider-controls label
{
    display: inline-block;

    width: 17px;
    height: 17px;
    margin: 0 4px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid white;
    border-radius: 50%;
}
.slider-controls label:hover
{
    background-color: rgba(255,255,255,.4);
}

#btn-1:checked ~ .wrap label[for='btn-1'],
#btn-2:checked ~ .wrap label[for='btn-2'],
#btn-3:checked ~ .wrap label[for='btn-3']
{
    background-color: #fff;
}
#btn-1:checked ~ .wrap
{
    background: #849d8f url('../img/ice-cream-fon1.png') no-repeat 50% 0;
}
#btn-2:checked ~ .wrap
{
    background: #8996a6 url('../img/ice-cream-fon2.png') no-repeat 50% 0;
}
#btn-3:checked ~ .wrap
{
    background: #9d8b84 url('../img/ice-cream-fon3.png') no-repeat 50% 0;
}
#btn-1:checked ~ .wrap #slide-1
{
    display: block;
}

#btn-2:checked ~ .wrap #slide-2
{
    display: block;
}
#btn-3:checked ~ .wrap #slide-3
{
    display: block;
}
.btn
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;

    display: block;

    box-sizing: border-box;

    text-decoration: none;

    color: #fff;
    background-image: -webkit-linear-gradient(bottom,#e74a35,#f26843);
    background-image:         linear-gradient(to top,#e74a35,#f26843);
    box-shadow: 0 2px 2px 0 rgba(172,16,0,.64);
    text-shadow: 0 2px 5px rgba(160,32,11,.76),0 0 5px rgba(61,61,46,.34);
}
.btn:hover
{
    background-image: -webkit-linear-gradient(top,#f58669,#ec6f5e);
    background-image:         linear-gradient(to bottom,#f58669,#ec6f5e);
}
.btn:active
{
    background-image: -webkit-linear-gradient(top,#e74a35,#f26843);
    background-image:         linear-gradient(to bottom,#e74a35,#f26843);
    box-shadow: inset 0 2px 2px 0 rgba(172,16,0,.64);
}
.btn-both
{
    font-size: 32px;
    line-height: 44px;

    width: 280px;
    margin: 0 auto;
    padding: 10px 20px;

    border-radius: 64px;
}
/*баннеры*/
.banners
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 230px;
    margin-bottom: 30px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.banners h2
{
    font-size: 35px;
    line-height: 35px;

    margin: 0;
    padding-bottom: 18px;
}
.banners p
{
    font-size: 18px;
    line-height: 22px;

    margin: 0;
}

.left-banner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 46.66%;
    margin-right: 1.1%;
    margin-left: 2.2%;
    padding: 20px;

    border-radius: 18px;
    background: #881932 url('../img/raspberry.jpg') no-repeat;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.right-banner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 46.66%;
    margin-right: 2.2%;
    margin-left: 1.1%;
    padding: 20px;

    border-radius: 18px;
    background: #42281c url('../img/chocolate.jpg') no-repeat;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.btn-banner
{
    font-size: 18px;
    line-height: 24px;

    margin-top: auto;
    margin-bottom: 5px;
    padding: 11px 22px;

    border-radius: 46px;

    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/*хиты*/
.hits
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 285px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-right: 1.1%;
    padding-left: 1.1%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.item
{
    font-size: 16px;

    position: relative;

    width: 22.7%;
    padding: 10px 1.1% 30px;

    text-align: center;
}
.item:hover
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(255,255,255,.3);
}
.item:hover .item-hover,
.item:hover::after
{
    display: block;
}
.item-hover
{
    position: absolute;
    z-index: 2;
    bottom: -51px;
    left: 0;

    display: none;

    width: 100%;
    padding-bottom: 17px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(255,255,255,.3);
}
.btn-hover
{
    font-size: 18px;
    line-height: 24px;

    width: 195px;
    margin: -10px auto 0 auto;
    padding: 10px 0;

    border-radius: 44px;
}
.item:hover a
{
    border-bottom: none;
}
.hits .item::before
{
    position: absolute;
    z-index: 3;

    display: block;

    width: 60px;
    height: 60px;

    content: '';

    border-radius: 50%;
    background: url('../img/sprite.png') no-repeat -10px -300px;
}
/*Псевдотень*/
.item::after
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding-bottom: 51px;

    content: '';

    border-radius: 5px;
    background: transparent;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .3);
}
.image
{
    position: relative;
}
.image img
{
    max-width: 100%;
    height: auto;
    margin-bottom: 7px;
}
.item > a
{
    padding: 0;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.item p
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 45px;

    position: absolute;
    bottom: 30px;
    left: 0;

    margin: 0;

    text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}
.item span
{
    font-size: 30px;
}
.item p::before
{
    position: absolute;
    top: -5px;
    left: 80px;

    display: block;

    width: 31px;
    height: 36px;

    content: '';

    background: url('../img/sprite.png') no-repeat -10px -848px;
}
/*Блок с информацией о магазине*/
.about
{
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size: 0;

    margin-right: 2.2%;
    margin-bottom: 40px;
    margin-left: 2.2%;

    color: #000;
    border-radius: 18px;
    background: #ebddbf url('../img/waffle-pattern.jpg');
}
.about-shop
{
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;

    margin: 0;
    padding-top: 25px;
    padding-left: 20px;
}
.about ul
{
    margin: 20px 0 3px 10px;
    padding: 0;
}
.about li
{
    font-size: 0;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 50%;
    margin-bottom: 2px;

    vertical-align: top;
}
.about li:nth-child(2n)
{
    margin-left: -1px;
}
.about p
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 16px;

    margin: 0;
    margin-right: 21px;
    margin-bottom: 20px;
    margin-left: 65px;
    padding: 0;
}
.inform-1 p::before
{
    position: absolute;
    top: -10px;
    left: 10px;

    display: block;

    width: 48px;
    height: 48px;

    content: '';

    background: url('../img/sprite.png') no-repeat -10px -379px;
}
.inform-2 p::before
{
    position: absolute;
    top: -10px;
    left: 10px;

    display: block;

    width: 48px;
    height: 48px;

    content: '';

    background: url('../img/sprite.png') no-repeat -10px -120px;
}
.inform-3 p::before
{
    position: absolute;
    top: -10px;
    left: 10px;

    display: block;

    width: 48px;
    height: 48px;

    content: '';

    background: url('../img/sprite.png') no-repeat -10px -650px;
}
.inform-4 p::before
{
    position: absolute;
    top: -10px;
    left: 10px;

    display: block;

    width: 48px;
    height: 48px;

    content: '';

    background: url('../img/sprite.png') no-repeat -10px -904px;
}
/*Блок с новостями и рассылкой*/
.blog-email
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-bottom: 40px;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.blog-news
{
    display: block;

    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
    margin-right: 1.1%;
    margin-left: 2.2%;
    padding: 25px 20px;

    border-radius: 18px;
    background: #fff url('../img/strawberry.jpg') 50% 50% no-repeat;
}
.blog-news h2
{
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;

    margin: 0;
    padding-bottom: 7px;

    color: #000;
}
.blog-news a
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;

    width: 300px;

    color: #323232;
    background-color: #fff;
}
.blog-news a:hover
{
    color: #e84d37;
    border-color: #e84d37;
}
.distribution
{
    box-sizing: border-box;
    width: 560px;
    min-height: 220px;
    margin-right: 2.2%;
    margin-left: 1.1%;
    padding: 5px;

    border-radius: 18px;
    background: #fff url('../img/mail-background.png');
}
.distribution-wrap
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    box-sizing: border-box;
    min-height: 210px;
    padding: 30px 21px 35px 20px;

    border-radius: 18px;
    background: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.distribution-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.distribution-form .placeholder
{
    box-sizing: border-box;
    height: 44px;
    margin-top: 10px;
    margin-right: 10px;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.distribution-form .email
{
    width: 100%;
}
.btn-send
{
    font-size: 18px;
    line-height: 24px;

    float: right;

    margin-top: 9px;
    padding: 10px 20px;

    border: none;
    border-radius: 44px;
}
.distribution-wrap p
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;

    display: block;

    min-height: 90px;
    margin: 0;

    color: #5a5a5a;
}
input[type='email'],
input[type='password'],
input[type='search'],
input[type='text'],
textarea
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;

    box-sizing: border-box;
    min-height: 43px;
    padding: 9px 5px 9px 14px;

    color: #323232;
    border: 1px solid rgba(172, 172, 172, .5);
    border-radius: 5px;
}
input[type='email']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='text']:focus,
textarea:focus,
input[type='email']:focus:hover,
input[type='password']:focus:hover,
input[type='search']:focus:hover,
input[type='text']:focus:hover,
textarea:focus:hover
{
    border: 1px solid #5b9ddf;
    outline: none;
    box-shadow: inset 0 0 0 1px #5b9ddf;
}
input[type='email']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='text']:hover,
textarea:hover
{
    box-shadow: inset 0 0 0 1px rgba(172, 172, 172, .5);
}
/*Блок с картой*/
.container-map
{
    width: 100%;
    height: 430px;

    background: url('../img/map.jpg') no-repeat 50% 0;
}
.container-map iframe
{
    width: 100%;
}
.address
{
    position: absolute;
    z-index: 1;
    right: 2.2%;
    bottom: -367px;

    box-sizing: border-box;
    width: 302px;
    min-height: 305px;
    padding: 25px;

    color: #000;
    border-radius: 10px;
    background: #fff;
}
.address p
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-bottom: 15px;
}
.address span
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.address b
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.btn-form
{
    font-size: 18px;
    line-height: 24px;

    margin-top: 9px;
    padding: 10px 27px;

    border-radius: 44px;
}
/*Футер*/

.footer-inform a:hover,
.footer-copyright a:hover
{
    color: #ffbc9e;
    border-color: #ffbc9e;
}
.footer-inform a:active,
.footer-copyright a:active
{
    color: #ffbc9e;
    border-color: #ffbc9e;
}
.footer-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 900px;
    max-width: 1200px;
    margin: 14px auto 0 auto;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-social
{
    font-size: 0;

    margin-top: -2px;
    margin-right: auto;
    margin-left: 2.2%;
    padding-left: 2px;
}
.social-btn
{
    display: inline-block;

    box-sizing: border-box;
    width: 37px;
    height: 37px;
    margin-right: 12px;

    vertical-align: middle;

    border: 3px solid rgba(255,255,255,.4);
    border-radius: 50%;
}
.social-btn:hover
{
    border: 3px solid #dbe3de;
    box-shadow: 0 0 0 1px #dbe3de;
}
.social-btn:active
{
    box-shadow: 0 0 0 1px #dbe3de,
    inset 0 1px 2px #888;
}
.social-btn-twitter
{
    background: url('../img/sprite.png') no-repeat -10px -548px;
}
.social-btn-inst
{
    background: url('../img/sprite.png') no-repeat -10px -497px;
}
.social-btn-fb
{
    background: url('../img/sprite.png') no-repeat -10px -446px;
}
.social-btn-vk
{
    background: url('../img/sprite.png') no-repeat -10px -599px;
}
.footer-inform
{
    width: 400px;
    margin: 0 auto;
}
.footer-inform ul
{
    margin: -5px 0 0 15px;
    padding: 0;
}
.footer-inform li
{
    font-size: 0;
    font-size: 0;
    line-height: 13px;

    position: relative;

    display: inline-block;

    padding-left: 30px;

    text-align: left;
    vertical-align: middle;
}
.footer-inform li:nth-child(2)
{
    padding-left: 27px;
}
.footer-inform li:last-child
{
    font-size: 0;

    padding-left: 40px;
}
.footer-inform .favorite
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
}
.footer-inform .favorite::before
{
    position: absolute;
    left: 9px;

    display: block;

    width: 15px;
    height: 13px;

    content: '';

    background: url('../img/sprite.png') no-repeat -10px -265px;
}
.footer-inform a
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 13px;

    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(230,230,235,.4);
}
.footer-copyright
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 32px;

    position: relative;

    margin-right: 2.2%;
    margin-left: auto;
    padding-top: 27px;
}

.footer-copyright .academy-logo
{
    position: absolute;
    top: 4px;
    left: 1px;

    display: block;

    width: 108px;
    height: 37px;

    text-decoration: none;

    border: 0;
    background: url('../img/sprite.png') no-repeat -10px -717px;
}
.footer-copyright a
{
    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(230,230,235,.4);
}
/*Форма обратной связи*/
.feedback
{
    position: fixed;
    z-index: 10;
    top: 344px;
    left: 50%;

    display: none;

    margin-left: -238px;
    padding: 17px 24px;

    color: #000;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}
.feedback-close
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 17px;
    height: 17px;
    margin: 0;

    cursor: pointer;

    border: none;
    outline: 0;
    background-color: #fff;
}
.feedback-close::before,
.feedback-close::after
{
    position: absolute;
    top: 8px;
    right: -3px;

    width: 22px;
    height: 2px;

    content: '';

    border-radius: 1px;
    background-color: #000;
}
.feedback-close::before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.feedback-close::after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.feedback h2
{
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;

    margin: 0;
    margin-bottom: 18px;
    padding: 0;
}
.feedback .name,
.feedback .e-mail
{
    width: 267px;
    margin-bottom: 20px;
}
.feedback .commit
{
    display: block;

    box-sizing: border-box;
    width: 428px;
    min-height: 151px;
    margin-bottom: 15px;
    padding-bottom: 0;

    resize: none;

    outline: none;
}
.overlay
{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .3);
}
.feedback .btn-send
{
    float: right;

    margin-bottom: 10px;
    padding-right: 23px;
    padding-left: 23px;
}
.feedback-show
{
    display: block;

    -webkit-animation: bounce .6s;
            animation: bounce .6s;
}
.feedback-error
{
    -webkit-animation: shake .6s;
            animation: shake .6s;
}
/*Анимация для формы*/
@-webkit-keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }
    70%
    {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    90%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }
    70%
    {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    90%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
/*Анимация в случае ошибки*/
@-webkit-keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}
@keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}
/*Файл catalog.psd*/
/*Подсветка*/
.catalog-item
{
    background-image: -webkit-linear-gradient(top,#9cb0a5,#849d8f);
    background-image:         linear-gradient(to bottom,#9cb0a5,#849d8f);
}
/*Черточка под main*/
.catalog-item .main-container::after
{
    margin: 0 2.2%;

    content: '';

    border-bottom: 1px solid rgba(230,230,235,.4);
}
.header-catalog
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 35px;
    line-height: 43px;

    margin: 0;
    padding: 0 0 4px 2.2%;
}
.filters h2
{
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size: 14px;
}

.logo
{
    display: block;

    width: 153px;
    height: 63px;

    background: url(../img/logo.svg) no-repeat 50% 50%;
}
.cart-page
{
    position: absolute;
    z-index: 1;
    top: 5px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    box-sizing: border-box;
    width: 540px;
    min-height: 242px;
    padding: 10px 15px;

    color: #000;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.cart-page-wrap
{
    position: absolute;
    top: 32px;
    left: -310px;

    display: none;

    width: 540px;
    height: 242px;
    padding-top: 10px;
}
.basket:hover  .cart-page-wrap
{
    display: block;
}
.cart-page table
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 16px;

    width: 510px;

    border-collapse: collapse;

    border-bottom: 2px solid #cacac7;
}
.cart-page tr
{
    height: 54px;
}
.cart-page td
{
    vertical-align: middle;
}
.cart-page .cel-2
{
    padding-top: 14px;
}
.cel-1,
.cel-2
{
    width: 220px;
}
.col-3
{
    padding-right: 0;
    padding-left: 25px;
}
.col-4
{
    padding-right: 10px;
    padding-left: 15px;
}
.cart-page .last-row
{
    height: 12px;
}
.cart-page img
{
    margin-right: 8px;
    margin-left: 1px;
}
.cart-page span
{
    color: rgba(0,0,0,.4);
}
.cart-page p
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 18px;

    -ms-flex-item-align: end;
    align-self: flex-end;
}
.btn-order
{
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    padding: 10px 15px;

    border-radius: 44px;

    -ms-flex-item-align: end;
    align-self: flex-end;
}
/*Хлебные крошки*/
.breadcrumbs
{
    margin-right: auto;
    margin-left: 2.2%;
}

.breadcrumbs a
{
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;

    position: relative;

    display: inline-block;

    margin-right: 17px;

    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid rgba(230,230,235,.4);
}
.breadcrumbs a:hover
{
    color: #ffbc9e;
    border-color: #ffbc9e;
}
.breadcrumbs a:active
{
    color: #ffbc9e;
    border-color: #ffbc9e;
}
.breadcrumbs a:last-child
{
    border-bottom: none;
}
.breadcrumbs a::after
{
    position: absolute;
    right: -14px;

    content: '»';
}
.breadcrumbs a:last-child::after
{
    content: '';
}
/*Блок с фильтрами*/
.filters
{
    font-family: 'Roboto Medium', 'Arial', sans-serif;

    width: 900px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 2.2%;
    padding-left: 2px;

    color: #fff;
}
.filters h2
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;

    margin-bottom: 2px;
    margin-left: 15px;
}
.filter-wrap
{
    font-size: 0;

    position: relative;

    box-sizing: border-box;
    height: 36px;
    margin-right: 15px;

    border-radius: 36px;
    background-color: rgba(230,230,235,.3);
}
.filter-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 10px auto;

    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
/*Селект*/
select
{
    font-size: 16px;
    line-height: 18px;

    width: 220px;
    height: 40px;
    margin-top: -2px;
    margin-left: -5px;
    padding-left: 15px;

    color: #fff;
    border-radius: 36px;
    background-color: transparent;
}
select:hover
{
    color: #000;
    background-color: #fff;
}
.hide
{
    position: relative;

    overflow: hidden;

    width: 193px;
}
.hide::before
{
    position: absolute;
    bottom: 15px;
    left: 170px;

    overflow: hidden;

    content: '';

    border: 5px solid #fff;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom: 0;
    border-left-color: transparent;
}
/*Переключалка*/
.range
{
    width: 234px;
}
.range-line
{
    position: absolute;
    top: 17px;
    left: 15px;

    width: 188px;
    height: 4px;

    background-color: rgba(230,230,235,.6);
}
.range-line-white
{
    position: absolute;
    top: 17px;
    left: 55px;

    width: 80px;
    height: 4px;

    background-color: #fff;
}
.range-line-white::before
{
    position: absolute;
    top: -9px;
    left: -20px;

    display: block;

    width: 20px;
    height: 20px;

    content: '';
    cursor: pointer;

    border-radius: 50%;
    background: #fff;
}
.range-line-white::after
{
    position: absolute;
    top: -9px;
    left: 80px;

    display: block;

    width: 20px;
    height: 20px;

    content: '';
    cursor: pointer;

    border-radius: 50%;
    background: #fff;
}
/*Радиокнопки*/
.fatness-item
{
    position: relative;

    display: inline-block;

    margin-top: 8px;
    margin-right: 5px;
    margin-left: 25px;

    vertical-align: middle;
}
.fatness-item:last-child
{
    margin-right: 13px;
}
.fatness-item label
{
    font-size: 16px;

    padding-left: 20px;

    cursor: pointer;
}
.fatness-item label::before
{
    position: absolute;
    left: -10px;

    width: 18px;
    height: 18px;

    content: '';

    border: 1px solid #f8f7f4;
    border-radius: 50%;
}
.fatness-item label::after
{
    position: absolute;
    top: 5px;
    left: -5px;

    width: 10px;
    height: 10px;

    content: '';

    border-radius: 50%;
    background: 0 0;
}
.fatness-input:checked + label::after
{
    background: #fff;
}
.fatness-input:hover label::before
{
    box-shadow: inset 0 0 0 1px #fff;
}
.fatness-input:disabled label
{
    cursor: default;
}
.fatness-input:disabled + label::before
{
    border: 1px solid rgba(248,247,244,.4);
}
.fatness-input:checked:disabled + label::after
{
    background: rgba(248,247,244,.4);
}
.fatness-input:disabled + label::before
{
    box-shadow: none;
}
/*Наполнители "Чекбоксы"*/
input[type='checkbox']
{
    display: none;
}
.filler
{
    padding-top: 5px;
}
.filler-item
{
    position: relative;

    display: inline-block;

    margin-top: 8px;
    margin-right: 9px;
    margin-left: 25px;

    vertical-align: middle;
}
.filler-item label
{
    font-size: 16px;

    padding-left: 20px;

    cursor: pointer;
}
.filler-item:last-child
{
    margin-right: 18px;
}
.filler-item label::before
{
    position: absolute;
    left: -9px;

    width: 18px;
    height: 18px;

    content: '';

    border: 1px solid #fff;
    border-radius: 3px;
}
.filler-item label::after
{
    position: absolute;
    top: 3px;
    left: -3px;

    width: 5px;
    height: 8px;

    content: '';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.filler-input:checked + label::after
{
    border-color: #fff;
}
.filler-item:hover label::before
{
    box-shadow: inset 0 0 0 1px #fff;
}
.btn-filter
{
    font-family: 'Roboto Bold', 'Arial', sans-serif;

    width: 144px;
    height: 36px;
    margin-top: 40px;
    margin-left: -2px;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 36px;
    background-color: rgba(230,230,235,.4);
}
.btn-filter:hover
{
    color: #000;
    background: #fff;
}
.btn-filter:active
{
    color: #363636;
    border: none;
    box-shadow: inset 0 3px 1px #696969;
}
.filler-input:checked:disabled + label::before
{
    border: 1px solid rgba(248,247,244,.4);
}
.filler-input:checked:disabled + label::after
{
    border-color: rgba(248,247,244,.4);
}
.filler-input:disabled + label::before
{
    box-shadow: none;
}
.goods
{
    font-size: 0;

    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 53px;
    padding-right: 1.1%;
    padding-left: 1.2%;
}
.goods .item
{
    display: inline-block;

    margin-bottom: -1px;

    vertical-align: top;
}
.third-price p
{
    padding-left: 5px;
}
.third-price p::before
{
    left: 85px;
}
.fourth-price p
{
    padding-left: 8px;
}
.fourth-price p::before
{
    left: 90px;
}
.paginator
{
    width: 210px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: auto;
}
.paginator a
{
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 25px;

    display: inline-block;

    min-width: 25px;
    height: 25px;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #fff;
}
.paginator a:hover
{
    border-radius: 50%;
    background: rgba(255,255,255,.4);
}
.paginator .prev:hover,
.paginator .next:hover
{
    background: none;
}
.paginator a:active
{
    color: #000;
    border-radius: 50%;
    background: #fff;
}
.paginator .current
{
    color: #000;
    border-radius: 50%;
    background: #fff;
}
.paginator .prev
{
    font-size: 0;

    -webkit-transform: rotate(135deg) scale(.3);
            transform: rotate(135deg) scale(.3);

    opacity: .4;
    box-shadow: 4px 4px 0 1px #fff;
}
.paginator .next
{
    font-size: 0;

    -webkit-transform: rotate(-45deg) scale(.3);
            transform: rotate(-45deg) scale(.3);

    box-shadow: 4px 4px 0 1px #fff;
}
