/*Подключим шрифты*/
@font-face {
  font-family: Roboto Black;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto Black Italic;
  src: url("../fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto Bold Italic;
  src: url("../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto Italic;
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto Light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto Light Italic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto Medium Italic;
  src: url("../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto Thin Italic;
  src: url("../fonts/Roboto-ThinItalic.ttf");
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #849d8f;
  font-family: "Roboto Regular", "Arial", sans-serif;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto Black", "Arial", sans-serif;
  margin-bottom: 30px;
}
h2 {
  font-size: 24px;
}
/*Файл index.psd*/
/*Хедер*/
.main-header {
  margin-bottom: 22px;
  padding-top: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
  position: relative;
}
.logo {
  margin-left:22px;
  margin-top: 5px;
}
.main-navigation {
  margin-right: auto;
  margin-left: 0px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-weight: bold;
}
.main-navigation > ul {
  margin: 0;
  padding-left: 17px;
}
/*Расположим главное меню в строку*/
.main-navigation li {
  display: inline-block;
  position: relative;
  padding:0 12px;
  border-radius: 100px;
  font-size: 0;
}

.main-navigation a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  line-height: 32px;
  color: #ffffff;
  border-bottom: 1px solid rgba(230,230,235,.4);
}
/* Меню при наведении*/
.main-navigation li:hover {
  background: #ffffff;

}
.main-navigation li:active {
  background: #ffffff;
  box-shadow: inset 0 1px 2px #696969;
}
.main-navigation li:hover a{
  color: #000000;
  border-bottom: none;
}
.main-navigation li:hover .wrap-submenu {
  display:block;
}
/*Подменю*/
.wrap-submenu {
  display: none;
  position: absolute;
  width: 143px;
  height: 160px;
  padding-top:10px;
  z-index: 1;
  left: -8px;
}
.submenu {
  margin:0;
  padding: 0;
  position: absolute;
  width: 143px;
  height: 170px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  top: 6px;
}
.submenu a {
  display:block;
  margin: 0;
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 20px;
  margin-bottom: 1px;
  color: #000000;
}
.submenu li {
  margin: 0;
  padding: 0;
  display: block;
}
.submenu li:first-child::after {
  content: '';
  display: block;
  margin: 0 5px 3px 5px;
  border-bottom: 1px solid #d1d0ce;
}
.submenu li:first-child a{
  font-family: "Roboto Bold", "Arial", sans-serif;
  padding-top: 9px;
  margin-top: 2px;
  padding-bottom: 10px;
}
.submenu li:hover a{
  background-color: #fbded7;
}
.submenu li:active a {
  background-color: #f6b5a5;
}
.submenu .on-page:hover a{
  background-color: #d07058;
}
.submenu .on-page:active a {
  background-color: #d07058;
}
.on-page {
background-color: #d07058;

}
.on-page a {
  border: none;
}
.main-navigation li:hover .on-page {
  border-radius: 0;
}
.main-navigation li:hover .on-page a{
  color: #ffffff;
}
.catalog-item,
.find-list {
  margin-left: auto;
  position: relative;
}
.user-block {
  display: flex;
  margin-right: 2.2%;
  position: relative;
}
.btn-header{
  display:block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: rgba(255,255,255,.2);
  margin-left: 10px;
  border-radius: 100px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #ffffff;
}
/* Кнопка поиска*/
.btn-search {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,.2) url("../img/sprite.png") no-repeat -3px -767px;
}
.btn-search:hover {
  background-color: rgba(255,255,255,1);
  background-position: -3px -804px;
}
.find-list:hover .find-wrap{
  display: block;
  position: absolute;
  z-index: 1;
}
/*Подменю формы поиска*/
.find-wrap {
  display: none;
  position: absolute;
  width: 311px;
  height: 50px;
  padding-top:10px;
  right: 0px;
  top: 25px;
}
.find-form {
	position: absolute;
	width: 311px;
	height: 44px;
	padding: 20px 15px;
	background-color: #F8F7F4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	top: 10px;
  left: -29px;
}
.find-form .find {
	width: 100%;
  margin-bottom: 20px;
}
/* Кнопка входа*/
.btn-entrance {
  width: 93px;
  line-height: 32px;
  padding-left: 43px;
  font-size: 14px;
  background: rgba(255,255,255,.2) url("../img/sprite.png") no-repeat 6px -181px;
}
.btn-entrance:hover{
  background-color: rgba(255,255,255,1);
  background-position: 6px -219px;
  color: #000000;
}
/*Подменю логина*/
.login-list-wrap {
  display: none;
  position: absolute;
  width: 237px;
  height: 160px;
  padding-top:10px;
  left: -135px;
  top: 30px;
}
.login-list:hover  .login-list-wrap {
  display: block;
}
.login-form {
	position: absolute;
	left: -37px;
	top: 6px;
	background : #ffffff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	z-index: 1;
	padding: 20px 17px 22px 20px;
	clear: both;
}
.mail {
	margin-bottom: 20px;
	width: 241px;
}
.password {
	margin-bottom: 20px;
	width: 241px;
}
.placeholder {
  position: relative;
}
.placeholder label{
  position: absolute;
  top: -53px;
  left: 14px;
  font-size: 16px;
  pointer-events: none;
  color: #999999;
  transition: 0.2s ease all;
}
.user-block label,
.find-list label {
  font-size: 14px;
}
input:focus + .placeholder label,
.commit:focus + .placeholder label {
  font-size: 11px;
  color: #5b9ddf;
  transform: translateY(-30px);
}
.commit + .placeholder label {
  top: -168px;
  left: 14px;
}
.placeholder .lostfocus {
    font-size: 11px;
    transform: translateY(-30px);
}
.btn-enter {
  float:left;
  font-size: 18px;
  line-height: 24px;
  border:none;
  padding: 10px 25px;
  border-radius: 44px;
}
.links {
	width: 50%;
	float: right;
	font-size: 13px;
}
.links a {
  color: #323232;
}
.links a:hover {
  color:#e84d37;
  border-color: #e84d37;
}
.links a:active {
  color:#e84d37;
  border-color: #e84d37;
}
.login-form {
	clear:both;
}
/* Кнопка карзины*/
.btn-basket {
  width: 117px;
  line-height: 32px;
  font-size: 14px;
  background: rgba(255,255,255,.2) url("../img/sprite.png") no-repeat 6px -4px;
  padding-left: 43px;
}
.btn-basket:hover {
	background: url("../img/sprite.png") no-repeat 6px -44px,
				rgba(255,255,255,1);
	color: #000000;
}
.basket-full {
	background: url("../img/sprite.png") no-repeat 6px -4px,
				url("../img/sprite.png") no-repeat 10px -80px,
				rgba(255,255,255,.2);
}
.basket-full:hover {
	background: url("../img/sprite.png") no-repeat 6px -44px,
				url("../img/sprite.png") no-repeat 10px -80px,
				rgba(255,255,255,1);
	color: #000000;
}
.timetable {
  position: absolute;
  float: right;
  width: 200px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  right: 2.2%;
  top: 54px;
}
.timetable span {
  font-size: 22px;
  font-family: "Roboto Black", "Arial", sans-serif;
  line-height: 34px;
}
/*Основной контент*/
.main-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
  position: relative;
}
/*слайдер*/
.slider {
  margin: 0 auto;
  padding-top:225px;
  padding-bottom:30px;
  width: 700px;
}
.slider-slides {
  width: 300%;
  display: inline-block;
  font-size: 0;
}
.slide-1,
.slide-2,
.slide-3 {
  width: 700px;
  text-align: center;
  display: none;
  margin-bottom: 10px;
}
.slider-inner {
	overflow: hidden;
}
input[type="radio"] {
  display: none;
}
.slider-controls {
  position: relative;
  margin-left: 2.2%;
  margin-right: auto;
  font-size: 0;
  top: 467px;
  left:-4px;

}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
}
.slider-controls label:hover {
  background-color: rgba(255,255,255,.4);
}

#btn-1:checked ~ .wrap .main-container .slider-controls label[for="btn-1"],
#btn-2:checked ~ .wrap .main-container .slider-controls label[for="btn-2"],
#btn-3:checked ~ .wrap .main-container .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
}
#btn-1:checked ~ .wrap {

  background:#849d8f url("../img/ice-cream-fon1.png") no-repeat 50% 0;
}
#btn-2:checked ~ .wrap {
  background: #8996a6 url("../img/ice-cream-fon2.png") no-repeat 50% 0;
}
#btn-3:checked ~ .wrap {
  background: #9d8b84 url("../img/ice-cream-fon3.png") no-repeat 50% 0;
}
#btn-1:checked ~ .wrap .main-container .slider .slider-inner .slider-slides .slide-1 {
	display:block;
}

#btn-2:checked ~ .wrap .main-container .slider .slider-inner .slider-slides .slide-2 {
	display:block;
}
#btn-3:checked ~ .wrap .main-container .slider .slider-inner .slider-slides .slide-3 {
	display:block;
}
.btn {
  background-image: linear-gradient(to top,#e74a35,#f26843);
  box-sizing: border-box;
	display:block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto Bold", "Arial", sans-serif;
  box-shadow: 0 2px 2px 0 rgba(172,16,0,.64);
  text-shadow: 0 2px 5px rgba(160,32,11,.76),0 0 5px rgba(61,61,46,.34);
}
.btn:hover {
 background-image: linear-gradient(to bottom,#f58669,#ec6f5e);
}
.btn:active {
 background-image: linear-gradient(to bottom,#e74a35,#f26843);
 box-shadow: inset 0 2px 2px 0 rgba(172,16,0,.64);
}
.btn-both {
	width: 280px;
	font-size:32px;
	line-height:44px;
  border-radius: 64px;
  padding: 10px 20px;
  margin: 0 auto;
}
/*баннеры*/
.banners {
  display: flex;
  justify-content: flex-start;
  min-height: 230px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  margin-bottom: 30px;
}
.banners h2 {
	margin:0;
	font-size:35px;
  line-height: 35px;
  padding-bottom: 18px;
}
.banners p {
	margin: 0;
	font-size: 18px;
  line-height: 22px;
}
.banners a {
}
.left-banner {
  display: flex;
  flex-direction: column;
  margin-left: 2.2%;
  margin-right: 1.1%;
  width: 46.66%;
  background: #881932 url("../img/raspberry.jpg") no-repeat;
  border-radius: 18px;
  padding: 20px;
 }

.right-banner {
  display: flex;
  flex-direction: column;
  margin-right: 2.2%;
  margin-left: 1.1%;
  width: 46.66%;
  background: #42281c url("../img/chocolate.jpg") no-repeat;
  border-radius: 18px;
  padding: 20px;
}
.btn-banner {
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: auto;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 22px;
  border-radius: 46px;
}

/*хиты*/
.hits {
  display:flex;
  justify-content: center;
  margin:0 auto;
  min-height: 285px;
  padding-left: 1.15%;
  padding-right: 1.15%;
  margin-bottom: 10px;
}
.item {
  position: relative;
  width: 22.7%;
  padding: 10px 1.15% 30px;
  text-align: center;
  font-size: 16px;
}
.item:hover {
  background: rgba(255,255,255,.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.item:hover .item-hover,
.item:hover::after {
  display: block;
}
.item-hover {
  z-index: 2;
  display: none;
  position: absolute;
  left:0px;
  bottom:-51px;
  width: 100%;
  background: rgba(255,255,255,.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 17px;
}
.btn-hover {
  font-size: 18px;
  line-height: 24px;
  border-radius: 44px;
  padding: 10px 0px;
  width: 195px;
  margin: -10px auto 0 auto;
}
.item:hover a {
  border-bottom: none;
}
.hits .item::before {
  content: '';
  display: block;
  position: absolute;
  width:60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/sprite.png") no-repeat -10px -300px;
}
/*Псевдотень*/
.item::after {
  content: '';
  position: absolute;
  display: none;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  padding-bottom: 51px;
  border-radius: 5px;
  z-index: 1;
  background: transparent;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.3);
}
.image img{
  margin-bottom: 5px;
  max-width: 100%;
  height: auto;
}
.item > a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 0 5px;
}
.item p {
  font-size: 45px;
  margin:0;
  position: absolute;
  top:228px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.item span {
  font-size:30px;
}
.item p::before {
  content: '';
  display: block;
  position: absolute;
  width: 31px;
  height: 36px;
  left: 80px;
  top: -5px;
  background: url("../img/sprite.png") no-repeat -10px -848px;
}
/*Блок с информацией о магазине*/
.about {
  margin-left: 2.2%;
  margin-right: 2.2%;
  font-size: 0;
  margin-bottom: 40px;
  background: #ebddbf url("../img/waffle-pattern.jpg");
  font-family: "Roboto Medium", "Arial", sans-serif;
  border-radius: 18px;
  color: #000000;
}
.about-shop {
	font-size: 24px;
	line-height: 30px;
  font-weight: normal;
	padding-left: 20px;
	padding-top: 25px;
  margin: 0;

}
.about ul {
  margin: 20px 0 5px 10px;
  padding: 0;
}
.about li {
  vertical-align: top;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  font-size: 0;
}
.about p {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-left:65px;
  margin-right: 21px;
  margin-bottom: 20px;
}
.about li:nth-child(1) p::before{
  content: '';
  display: block;
  position: absolute;
  width:48px;
  height:48px;
  left: 10px;
  top: -10px;
  background: url("../img/sprite.png") no-repeat -10px -379px;
}
.about li:nth-child(2) p::before{
  content: '';
  display: block;
  position: absolute;
  width:48px;
  height:48px;
  left: 10px;
  top: -10px;
  background: url("../img/sprite.png") no-repeat -10px -120px;
}
.about li:nth-child(3) p::before{
  content: '';
  display: block;
  position: absolute;
  width:48px;
  height:48px;
  left: 10px;
  top: -10px;
  background: url("../img/sprite.png") no-repeat -10px -650px;
}
.about li:nth-child(4) p::before{
  content: '';
  display: block;
  position: absolute;
  width:48px;
  height:48px;
  left: 10px;
  top: -10px;
  background: url("../img/sprite.png") no-repeat -10px -904px;
}
/*Блок с новостями и рассылкой*/
.blog-email {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 40px;
}
.blog-news {
  margin-right: 1.1%;
  margin-left: 2.2%;
  width: 560px;
  box-sizing: border-box;
  min-height: 220px;
  padding: 25px 20px;
  background: url("../img/strawberry.jpg");
  border-radius: 18px;
  display: block;

}
.blog-news h2 {
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
  margin: 0;
  padding-bottom: 7px
}
.blog-news a {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  width: 300px;
  color: #323232;
}
.distribution {
  margin-left: 1.1%;
  margin-right: 2.2%;
  width: 560px;
  box-sizing: border-box;
  background:#ffffff url("../img/mail-background.png");
  border-radius: 18px;
  padding: 5px;
}
.distribution-wrap {
	background: #ffffff;
	border-radius: 18px;
  padding: 30px 21px 35px 20px;
  position: relative;

}
.distribution-form {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.distribution-form .placeholder{
    width: 200px;
    position: absolute;
    left: 20px;
    bottom: 15px;
}
.email {
  flex-grow: 1;
  margin-right: 10px;
}
.btn-send {
  font-size: 18px;
  line-height: 24px;
  border:none;
  padding: 10px 20px;
  border-radius: 44px;
}
.distribution-wrap p {
  font-family: "Roboto Regular", "Arial", sans-serif;
  line-height: 22px;
  font-size: 16px;
  color: #5a5a5a;
  margin: 0;
}
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
textarea {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(172, 172, 172, 0.5);
  font-size: 16px;
  line-height: 24px;
  padding: 9px 5px 9px 14px;
  color: #323232;
  font-family: "Roboto Bold", "Arial", sans-serif;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus:hover,
input[type="password"]:focus:hover,
input[type="search"]:focus:hover,
input[type="text"]:focus:hover,
textarea:focus{
	border: 1px solid #5b9ddf;
	outline:none;
	box-shadow:inset 0px 0px 0px 1px #5b9ddf;
}
input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="text"]:hover,
textarea:hover{
	box-shadow:inset 0px 0px 0px 1px rgba(172, 172, 172, 0.5);
}
/*Блок с картой*/
.container-map {
  position: relative;
  margin-bottom: -10px;
}
.address {
	position: absolute;
	width: 302px;
	min-height: 305px;
	background: #ffffff;
	color: #000000;
	top: 63px;
	right: 26px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 25px;

}
.address p {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
  margin: 0;
  padding-top:4px;
  padding-bottom: 15px;
}
.address span {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.address b {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.btn-form {
  margin-top: 9px;
  padding: 10px 27px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 44px;
}
/*Футер*/
.main-footer {
}
.footer-inform a:hover,
.footer-copyright a:hover {
  color:#ffbc9e;
  border-color: #ffbc9e;
}
.footer-inform a:active,
.footer-copyright a:active {
  color:#ffbc9e;
  border-color: #ffbc9e;
}
.footer-container {
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  max-width: 1200px;
  min-width: 900px;
}

.footer-social {
	display: flex;
	margin-left: 2.2%;
	padding-left:3px;
	margin-right: auto;
	font-size:0;
}
.social-btn {
	width: 37px;
	height:37px;
	box-sizing:border-box;
	margin-right: 12px;
	border-radius: 50%;
	border:3px solid rgba(255,255,255,.4);
}
.social-btn:hover {
  border:3px solid #dbe3de;
  box-shadow: 0 0 0 1px #dbe3de;
}
.social-btn:active {
  box-shadow: 0 0 0 1px #dbe3de, 
			  inset 0 1px 2px #888888;
}
.social-btn-twitter {
	background: url("../img/sprite.png") no-repeat -10px -548px;
}
.social-btn-inst {
	background: url("../img/sprite.png") no-repeat -10px -497px;
}
.social-btn-fb {
	background: url("../img/sprite.png") no-repeat -10px -446px;
}
.social-btn-vk {
	background: url("../img/sprite.png") no-repeat -10px -599px;
}
.footer-inform {
  width: 400px;
  margin: 0 auto;
}
.footer-inform ul {
  margin: -5px 0 0 15px;
  padding: 0;
}
.footer-inform li{
  display: inline-block;
  text-align: left;
  line-height: 13px;
  font-size:0;
  padding-left: 30px;
  font-size: 0;
  position: relative;
}
.footer-inform li:nth-child(2) {
	padding-left:27px;
}
.footer-inform li:last-child{
  padding-left: 40px;
    font-size: 0;
}
.footer-inform li:first-child a {
  font-family: "Roboto Bold", "Arial", sans-serif;
}
.footer-inform li:first-child a::before{
  content: '';
  display:block;
  position: absolute;
  width:15px;
  left:9px;
  height: 13px;
  background: url("../img/sprite.png") no-repeat -10px -265px;
}
.footer-inform a {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(230,230,235,.4);
}
.footer-copyright {
  margin-right: 2.2%;
  padding-top: 25px;
  margin-left: auto;
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 32px;
  position: relative;
}

.footer-copyright p::before{
  content: '';
  width: 108px;
  height: 37px;
  position: absolute;
  top: 2px;
  left:1px;
  background: url("../img/sprite.png") no-repeat -10px -717px;
}
.footer-copyright a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(230,230,235,.4);
}
/*Форма обратной связи*/
.feedback {
  position: fixed;
  display:none;
  left: 50%;
  margin-left: -238px;
  top: 344px;
  background: #ffffff;
  width: 477px;
  box-sizing: border-box;
  color:#000000;
  padding: 17px 24px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 10;
}
.feedback-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0;
  margin: 0;
  outline: 0;
  cursor: pointer;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: none;
}
.feedback-close::before,
.feedback-close::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -3px;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}
.feedback-close::before {
  transform: rotate(45deg);
}
.feedback-close::after{
  transform: rotate(-45deg);
}
.feedback h2 {
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}
.feedback .name,
 .feedback .e-mail{
  width: 267px;
  margin-bottom: 20px;
}
.feedback .commit {
  display: block;
  width: 428px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  padding-bottom: 0px;
  margin-bottom: 25px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
}
.feedback .btn-send {
  float: right;
  padding-left:23px;
  padding-right:23px;
  margin-bottom: 10px;
}
.feedback-show {
  display: block;
  animation: bounce 0.6s;
}
.feedback-error {
  animation: shake 0.6s;
}
/*Анимация для формы*/
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/*Анимация в случае ошибки*/
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
/*Файл catalog.psd*/
/*Подсветка*/
.catalog-item {
  background-image:linear-gradient(to bottom,#9cb0a5,#849d8f);
}
/*Черточка под main*/
.catalog-item .main-container::after {
  content: '';
  margin: 0 2.2%;
  border-bottom: 1px solid rgba(230,230,235,.4);
}
.header-catalog {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding: 0 0 4px 2.2%;
}
.filters h2 {
  font-size: 14px;
  font-family: "Roboto Medium", "Arial", sans-serif;
}

.logo {
  display:block;
  width: 153px;
  height: 63px;
  background-image: url(../img/logo.svg);
}
.cart-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  width: 540px;
  min-height: 242px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 5px;
  color: #000000;
  z-index: 1;
  padding: 10px 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.cart-page-wrap {
  position: absolute;
  display: none;
  width: 540px;
  height: 242px;
  padding-top:10px;
  left:-310px;
  top:32px;
}
.basket:hover  .cart-page-wrap {
  display: block;
}
.cart-page table {
  border-collapse: collapse;
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 13px;
  line-height: 16px;
  width: 510px;
  border-bottom: 2px solid #cacac7;
}
.cart-page tr {
  height: 54px;
}
.cart-page tr td{
  vertical-align: middle;
}
.cart-page tr .cel-2 {
  padding-top: 14px;
}
.cel-1,
.cel-2 {
  width: 220px;
}
.col-3 {
  padding-left: 25px;
  padding-right: 0;
}
.col-4 {
  padding-left: 15px;
  padding-right: 10px;
}
.cart-page .last-row {
  height: 12px;
}
.cart-page img {
  margin-right:8px;
  margin-left: 1px;
}
.cart-page span{
  color: rgba(0,0,0,.4);
}
.cart-page p {
  align-self: flex-end;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
}
.btn-order{
  margin: 0;
  align-self: flex-end;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 15px;
  border-radius: 44px;
}
/*Хлебные крошки*/
.breadcrumbs {
  margin-left: 2.2%;
  margin-right: auto;
}

.breadcrumbs a {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(230,230,235,.4);
  display: inline-block;
  position: relative;
  margin-right: 17px;
}
.breadcrumbs a:hover {
  color:#ffbc9e;
  border-color: #ffbc9e;
}
.breadcrumbs a:active {
  color:#ffbc9e;
  border-color: #ffbc9e;
}
.breadcrumbs a:last-child {
  border-bottom: none;
}
.breadcrumbs a::after {
   content: '»';
   position: absolute;
   right: -14px;
}
.breadcrumbs a:last-child::after {
   content: '';
}
/*Блок с фильтрами*/
.filters {
  margin-left: 2.2%;
  margin-right: auto;
  width: 900px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #ffffff;
  padding-left:2px;
  margin-bottom: 20px;
}
.filters h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
	margin-left: 15px;
	margin-bottom: 2px;
}
.filter-wrap {
  background-color: rgba(230,230,235,.3);
  border-radius: 36px;
  font-size: 0;
  height: 36px;
  box-sizing: border-box;
  margin-right: 15px;
  position:relative;
}
.filter-form {
  margin: 10px auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
/*Селект*/
select {
  color: #ffffff;
  line-height: 18px;
  height: 40px;
  font-size: 16px;
  width: 220px;
  padding-left: 15px;
  background-color: transparent;
  border-radius: 36px;
  margin-left:-5px;
  margin-top: -2px;
}
select:hover {
	color: #000000;
	background-color: #ffffff;
}
.hide {
  width: 193px;
  position: relative;
  overflow: hidden;
}
.hide::before {
  content: '';
  position: absolute;
  border:5px solid #ffffff;
  border-top-color: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0;
  left: 170px;
  bottom: 15px;
  overflow: hidden;
}
/*Переключалка*/
.range {
	width: 234px;
}
.range-line {
	height: 4px;
	background-color: rgba(230,230,235,.6);
	width: 188px;
	position: absolute;
	top: 17px;
	left: 15px;
}
.range-line-white {
	height: 4px;
	background-color: #ffffff;
	width: 80px;
	position: absolute;
	top: 17px;
	left: 55px;
}
.range-line-white::before {
	content:'';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: #ffffff;
  cursor: pointer;
	border-radius: 50%;
	top:-9px;
	left: -20px;
}
.range-line-white::after {
	content:'';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: #ffffff;
	border-radius: 50%;
  cursor: pointer;
	top:-9px;
	left: 80px;
}
/*Радиокнопки*/
.fatness-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
	margin-left: 25px;
	margin-top: 8px;
}
.fatness-item:last-child {
	margin-right: 13px;
}
.fatness-item label{
 font-size: 16px;
 padding-left: 20px;
 cursor: pointer;
}
.fatness-item label::before {
	content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #f8f7f4;
    left: -10px;
}
.fatness-item label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background: 0 0;
  border-radius: 50%;
}
.fatness-item input[type="radio"]:checked + label::after {
  background: #ffffff;
}
.fatness-item:hover label::before {
	box-shadow: inset 0 0 0 1px #ffffff;
}
.fatness-item input[type="radio"]:disabled label {
  cursor: default;

}
.fatness-item input[type="radio"]:disabled + label::before{
  border: 1px solid rgba(248,247,244,.4);
}
.fatness-item input[type="radio"]:checked:disabled + label::after{
  background: rgba(248,247,244,.4);
}
.fatness-item:hover input[type="radio"]:disabled + label::before{
  box-shadow: none;
}
/*Наполнители "Чекбоксы"*/
input[type="checkbox"] {
	display:none;
}
.filler {
  padding-top: 5px;
}
.filler-item {
	display: inline-block;
	position: relative;
	margin-right: 9px;
	margin-left: 25px;
	margin-top: 8px;
}
.filler-item label{
 font-size: 16px;
 padding-left: 20px;
 cursor: pointer;
}
.filler-item:last-child {
	margin-right: 18px;
}
.filler-item label::before {
	content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    left: -9px;
}
.filler-item label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -3px;
  width: 5px;
  height: 8px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
}
.filler-item input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}
.filler-item:hover label::before {
	box-shadow: inset 0 0 0 1px #ffffff;
}
.btn-filter {
	border:2px solid #ffffff;
	width: 144px;
	height: 36px;
	margin-top: 40px;
	border-radius:36px;
	margin-left:-2px;
	background-color: rgba(230,230,235,.4);
	color: #ffffff;
  font-family: "Roboto Bold", "Arial", sans-serif;
}
.btn-filter:hover {
	background: #ffffff;
	color: #000000;
}
.btn-filter:active {
	color: #363636;
    box-shadow: inset 0 3px 1px #696969;
	border:none;
}
.filler-item input[type="checkbox"]:disabled + label::before{
  border: 1px solid rgba(248,247,244,.4);
}
.filler-item input[type="checkbox"]:checked:disabled + label::after{
  border-color: rgba(248,247,244,.4);
}
.filler-item:hover input[type="checkbox"]:disabled + label::before{
  box-shadow: none;
}
.goods {
  max-width: 1200px;
  min-width: 900px;
  margin:0 auto;
  margin-bottom: 50px;
  font-size:0;
}
.goods .item {
	display:inline-block;
	vertical-align:top;
}
.paginator {
    width: 210px;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 30px;
}
.paginator a {
    display: inline-block;
    min-width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 16px;
    line-height: 25px;
	color:#ffffff;
}
.paginator a:hover {
	background: rgba(255,255,255,.4);
	border-radius: 50%;
}
.paginator .prev:hover,
.paginator .next:hover {
  background: none;
}
.paginator a:active {
	background: #ffffff;
	border-radius: 50%;
	color:#000000;
}
.paginator .current {
	background: #ffffff;
	border-radius: 50%;
	color: #000000;
}
.paginator .prev {
  font-size: 0;
  box-shadow: 4px 4px 0 1px #ffffff;
  transform: rotate(135deg) scale(0.3);
  opacity: .4;
}
.paginator .next {
  font-size: 0;
  box-shadow: 4px 4px 0 1px #ffffff;
  transform: rotate(-45deg) scale(0.3);
}
