/*Подключим шрифты*/
@font-face {
  font-family: Roboto Black;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto Black Italic;
  src: url("../fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto Bold Italic;
  src: url("../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto Italic;
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto Light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto Light Italic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto Medium Italic;
  src: url("../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto Thin Italic;
  src: url("../fonts/Roboto-ThinItalic.ttf");
}
body {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #849d8f;
  font-family: "Roboto Regular", "Arial", sans-serif;
}
h1 {
  font-size: 60px;
  line-height: 60px
}
h2 {
  font-size: 24px;

}
/*скроем ненужное*/
.main-navigation li > ul,
.login-list,
.find-form,
.address,
.cart-page {
  display: none;
}

/*Файл index.psd*/
/*Хедер*/
.main-header {
  margin-bottom: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
}
.logo {
  margin-left:22px;
}
.main-navigation {
  margin-right: auto;
  margin-left: -10px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-weight: bold;
}
.find-list {
  margin-left: auto;
}
.user-block {
  display: flex;
  margin-right: 2.2%;
}
.btn-header{
  display:block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: rgba(255,255,255,.2);
  margin-left: 10px;
  border-radius: 100px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #ffffff;
}
.btn-search {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,.2) url("../img/loupe.svg") no-repeat 50% 50%; 
}

.btn-entrance {
  width: 93px;
  line-height: 32px;
  padding-left: 45px;
  font-size: 14px;
  background: rgba(255,255,255,.2) url("../img/entrance.svg") no-repeat 16px 50%; 
}
.btn-basket {
  width: 117px;
  line-height: 32px;
  font-size: 14px;
  background: rgba(255,255,255,.2) url("../img/basket.svg") no-repeat 16px 50%;
  padding-left: 45px;
}
.timetable {
  font-family: "Roboto Bold", "Arial", sans-serif;
  font-size: 14px;
  text-align: right;
  vertical-align:top;
  margin: 0 2.2% 0 auto;
}
.timetable span {
   font-size: 22px;
   margin-top: 2px;
  font-family: "Roboto Black", "Arial", sans-serif;
}
/*Расположим главное меню в строку*/
.main-navigation li {
  display: inline;
  margin-right: 24px;
}

.main-navigation a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(230,230,235,.4);
}

/*Основной контент*/

.main-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
  outline: 1px solid black;
}
/*слайдер*/
.slider {
  width:700px;
  margin: 0 auto;
  padding-bottom:40px;

}
.slider-slides {
    width: 300%;
}
.slide{
  width: 700px;
  float:left;
  text-align: center;
 
}
.slide p {
	padding-top: 150px;
	font-size:60px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
	vertical-align:top;
	font-family: "Roboto Black", "Arial", sans-serif;
}
.slider-inner {
	overflow: hidden;
}

input[type="radio"] {
  display: none;
}
.slider-controls {
  position: relative;
  margin-left: 2.2%;
  margin-right: auto;
  top: 470px;
}
.slider-controls label {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}
#btn-1:checked  ~ .slider-inner .slider-slides {
	display:block;
}

#btn-3:checked  ~ .slider-inner .slider-slides {
	display:block;
}
#btn-3:checked  ~ .slider-inner .slider-slides {
	display:block;
}
.btn {
  background: #f26843;
  border-radius: 100px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  
}
.btn-both {
	width: 280px;
	height: 60px;
	box-sizing: border-box;
	display:block;
	margin:0 auto;
	font-size:32px;
	line-height:60px;
	
}
/*баннеры*/
.banners {
  display: flex;
  justify-content: center;
  height: 230px;
  margin-bottom: 40px;
  font-family: "Roboto Bold", "Arial", sans-serif;
}
.banners h2 {
	padding: 25px 0 25px 20px;
	margin:0;
	font-size:35px;
	
}
.banners p {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:45px;
	font-size: 18px;
}
.left-banner {
  margin-left: 2.2%;
  margin-right: 1.1%;
  width: 46.66%;
  background: url("../img/raspberry.jpg") no-repeat;
  border-radius: 18px;
  overflow: hidden;
 }

.right-banner {
  margin-right: 2.2%;
  margin-left: 1.1%;
  width: 46.66%;
  background: url("../img/chocolate.jpg") no-repeat;
  border-radius: 18px;
  overflow: hidden;
}
.banners  a{
	margin: 0 20px 0 auto;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 12px;
	width: 165px;
	height: 45px;
	color: #ffffff;
	box-sizing:border-box;
	font-size: 18px;
	
}
.right-banner a{
	width: 190px;
}
/*хиты*/
.hits {
  display:flex;
  margin:0 auto;
  min-height: 280px;
  padding-left: 1.1%;
  padding-right: 1.1%;
  margin-bottom: 40px;

}

.hit-item {
  text-align: center;
  margin-left: 1.1%;
  margin-right: 1.1%;
  outline: 1px solid white;
}
/*Блок с информацией о магазине*/
.about {
  outline: 1px solid white;
  margin-left: 2.2%;
  margin-right: 2.2%;
  font-size: 0;
  margin-bottom: 40px;
  background: url("../img/waffle-pattern.jpg");
  border-radius: 18px;
  color: #000000;
  
}
.about ul {
  padding: 0;
  margin: 0;

}
.about li {
  margin: 0;
  font-size: 16px;
  display: inline-block;
  width: 46.6%;
  font-size: 16px;
  vertical-align: top;
  outline: 1px solid white;
    margin-left: 2.2%;
}
/*Блок с новостями и рассылкой*/
.blog-email {
  display: flex;
  justify-content: center;
  height: 220px;
  margin-left: 2.2%;
  margin-right: 2.2%;
  padding-bottom: 40px;
  color: #000000;
}

.blog-news {
  margin-left: 2.2%;
  margin-right: 1.1%;
  width: 46.66%;
  background: url("../img/strawberry.jpg") no-repeat;
  border-radius: 18px;
}

.distribution {
  margin-right: 2.2%;
  margin-left: 1.1%;
  width: 46.66%;
  background:#ffffff url("../img/post-pattern.svg");
  outline: 1px solid white;
  border-radius: 18px;
}
.distribution-wrap {
	top: -10px;
	position: relative;
	min-height: 208px;
	background: #ffffff;
	border-radius: 18px;
	margin:0 7px;
}
/*Блоек с картой*/
/*Футер*/
.main-footer {
}

.footer-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-width: 1200px;
  max-width: 900px;
  outline: 1px solid black;
}

.footer-social {
	display: flex;
	margin-left: 2.2%;
	margin-right: auto;
	font-size:0;
}
.social-btn {
	
	margin-right: 10px;
	width: 32px;
	height:32px;
	box-sizing: border-box;
	margin-left: 10px;
	border-radius: 100px;
	
}
.social-btn-twitter {
	background: url("../img/twitter.svg") 50% 50%;
	border:3px solid rgba(255, 255, 255, .2);
}
.social-btn-inst {
	background: url("../img/insta.svg") 50% 50%;
}
.social-btn-fb {
	background: url("../img/facebook.svg") 50% 50%;
}
.social-btn-vk {
	background: url("../img/vk.svg") 50% 50%;
}
.footer-inform {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright {
  margin-right: 2.2%;
  margin-left: auto;
}
/*Файл catalog.psd*/
.breadcrumbs {
  margin-left: 2.2%;
  margin-right: auto;
}

.filters {
  margin-left: 2.2%;
  margin-right: auto;
  width: 900px;
}

.filters h1 {
  font-size: 35px;
}

.filters h2 {
  font-size: 14px;
}

.filter-form {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.select {
  margin-bottom: 20px;
  margin-right: 20px;
}

.range {
  margin-bottom: 20px;
  margin-right: 20px;
}
.fatness {
  margin-bottom: 20px;
  margin-right: 20px;
}

.filler {
  margin-bottom: 20px;
  margin-right: 20px;
}
.goods {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 280px;
  padding-left: 1.1%;
  padding-right: 1.1%;
  margin-bottom: 40px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 267px;
  margin-left: 1.1%;
  margin-right: 1.1%;
  outline: 1px solid white;
}

.paginator {
    margin-right: 2.2%;
    margin-left:auto;
}
